//
// Partial for page elements that renders a
// hero-type banner at the top of the page
//
// Build flow will convert to CSS (when @extended)
// and add rem->px fallback declarations
//
// Please, also view: search-hero-partial.php
//

.search-hero {

    width: 100%;
    height: 48.8rem;

	background: url('../../img/post-list/hero-banner.jpg') no-repeat center center;

    @media #{$mobile} {
        background: url('../../img/post-list/hero-banner-mobile.jpg') no-repeat center center;
        background-size: cover;

		height: 24.4rem;
    }

    color: #ffffff;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.45);

    h2 {

        @extend %font-gotham-medium;
        font-weight: normal;

        margin: 0;
        text-align: center;

        @media #{$mobile} {

            padding: 5.8rem 2rem 0 2rem;

            font-size: 2.3rem;
            line-height: 2.6rem;

        }

    }

    p {

        margin: 0;

        @extend %font-gotham-book;
        font-weight: normal;
        text-align: center;

        @media #{$mobile} {

            padding: 0.6rem 2rem 0 2rem;

            font-size: 1.4rem;
            line-height: 1.4rem;

        }

    }

    .search {

        @media #{$mobile} {

            padding: 1.8rem 0 0 0;

        }

        .search-box {

            margin: 0 auto;

        }

    }

}
