//
// Partial for placeholder selector (used with @extend)
// that render social media icons
//
// Build flow will convert to CSS (when @extended)
// and add rem->px fallback declarations
//

%social-icons-list {

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {

        display: inline-block;
        width: 2.6rem;
        height: 2.6rem;

        margin: 0 0.5rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

    }

    a.social-item, a.social-item > span {

        display: inline-block;
        width: 100%;
        height: 100%;

    }

    a.social-item {

        > span {
            text-indent: -999.9rem;
            direction: ltr;
            background: url('../../img/gray-social-sprites.png') no-repeat top left transparent;
            background-size: 11.6rem 2.6rem;
            vertical-align: middle;
        }

        $icons: (
            (facebook, 0, 0),
            (twitter, -3rem, 0),
            (youtube, -6rem, 0),
            (pinterest, -9rem, 0)
        );

        @each $item in $icons {
            $c: nth($item, 1);
            &.social-item-#{$c} > span {
                background-position: nth($item, 2) nth($item, 3);
            }
        }

    }

}
